html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.banner-content {
  padding: 0 1.5rem;
  position: absolute;
  bottom: 1.5rem;
  max-width: 50em;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

h2 {
  margin: 0 0 1rem;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  font-weight: 800;
  list-style-type: none;
  line-height: 1.4;
}

h2 span {
  background-color: rgba(0, 0, 0, .5);
}

.img-flex {
  display: block;
  width: 100%;
}

.img {
  position: relative;
}

p {
  margin: 0;
  font-style: italic;
  font-size: 2rem;
}
